{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card bg-dark text-white border-secondary p-4 shadow-lg">
                <h2 class="text-center mb-4" style="font-family: 'Bebas Neue';">{% trans "Password reset" %}</h2>
                <form method="post">
                    {% csrf_token %}
                    {% load crispy_forms_tags %}
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-custom w-100">{% trans "Send password reset email" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}