{% extends "base.html" %}
{% block content %}
<h1>Rezervacija: {{ booking.user }}</h1>
<p>Salonas: {{ booking.salon.name }}</p>
<p>Paslauga: {{ booking.service.name }}</p>
<p>Laikas: {{ booking.date_time }}</p>
<p>Būsena: {{ booking.get_status_display }}</p>
<div>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'booking_update' booking.pk %}">Redaguoti</a>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'booking_delete' booking.pk %}">Ištrinti</a>
</div>
{% endblock %}