{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "My bookings" %}{% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "My bookings" %}</h1>

    <h2 class="mt-4">{% trans "Upcoming" %}</h2>
    <hr>
    {% if upcoming_bookings %}
        {% for booking in upcoming_bookings %}
            <div class="card mb-2 border-primary">
                <div class="card-body">
                    <p class="mb-0"><strong>{{ booking.service.name }}</strong> ({{ booking.salon.name }})</p>
                    <p class="text-muted mb-0 small">{% trans "Date:" %} {{ booking.date_time }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>{% trans "You don't have any upcoming bookings." %}</p>
    {% endif %}

    <h2 class="mt-5 text-secondary">{% trans "Past" %}</h2>
    <hr>
    {% if past_bookings %}
        {% for booking in past_bookings %}
            <div class="card mb-2 bg-light">
                <div class="card-body">
                    <p class="mb-0 text-secondary"><s>{{ booking.service.name }} ({{ booking.salon.name }})</s></p>
                    <p class="text-muted mb-0 small">{% trans "Happened:" %} {{ booking.date_time }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>{% trans "Past bookings history is empty." %}</p>
    {% endif %}
</div>
{% endblock %}