{% extends "base.html" %}

{% block title %}Salonai{% endblock %}

{% block content %}
{% load static %}

<div class="salons-container">
    <h1 class="page-title">Mūsų salonai:</h1>

    <div class="row justify-content-center g-4"> {% for salon in salons %}
        <div class="col-md-4 d-flex align-items-stretch justify-content-center">
            <div class="card salon-card shadow-sm"> {% if salon.image %}
                <img src="{{ salon.image.url }}" class="card-img-top" alt="{{ salon.name }}">
                {% else %}
                <img src="{% static 'img/no-image.png' %}" class="card-img-top">
                {% endif %}

                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ salon.name }}</h5>
                    <p class="card-text text-muted">{{ salon.city }}</p> <a href="{% url 'salon' salon.id %}" class="btn btn-custom mt-auto">Plačiau</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}