{% extends "base.html" %}

{% block title %}Paieškos rezultatai{% endblock %}

{% block content %}
<h1>Services found: "{{ query }}":</h1>
<br>
{% if services %}
{% for service in services %}
<p><a href="{% url 'service' service.pk %}">{{ service }}</a></p>
{% endfor %}
{% else %}
<p>Oops. Couldn't find anything.</p>
{% endif %}
<h1>Salons found: "{{ query }}":</h1>
<br>
{% if salons %}
{% for salon in salons %}
<p><a href="{% url 'salon' salon.pk %}">{{ salon }}</a></p>

{% endfor %}
{% else %}
<p>Oops. Couldn't find anything.</p>
{% endif %}
{% endblock %}