{% extends "base.html" %}

{% block title %}Paslauga{% endblock %}

{% block content %}
<p><strong>Pavadinimas: </strong>{{ service.salon }} {{ service.name }}</p>
<p><strong>Kaina: </strong>{{ service.price }}</p>
<p>{{ service.description }}</p>
<h2>Comments:</h2>
<br/>
{% if user.is_authenticated %}
<h2>Leave a comment</h2>
<form method="post" class="mb-2">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-primary">Publish</button>
</form>
{% endif %}
{% if service.reviews.all %}
{% for review in service.reviews.all %}
<p>
    {% if review.reviewer.photo %}
    <img src="{{ review.reviewer.photo.url }}" class="rounded-circle" style="width: 30px">
    {% endif %}
    <strong>{{ review.reviewer }}</strong>, <em>{{ review.date_created }}</em></p>
<p>{{ review.content }}</p>
<hr>
{% endfor %}
{% else %}
<p>No comments</p>
{% endif %}
{% endblock %}