{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Service" %}{% endblock %}

{% block content %}
    <h4 class="mb-4 text-center">{{ service.name }}</h4>
    <div class="service-info">
        <p><strong>{% trans "Price:" %} </strong>{{ service.price }} €</p>
        <p><strong>{% trans "Description:" %} </strong></p>
        <div class="description-text mb-4">
            {{ service.description | safe }}
        </div>
        <div class="mt-4">
            <h5 class="fw-bold">{% trans "Salons and clinics providing this service:" %}</h5>
            <div class="services-container mb-4">
            {% for s in service.salon.all %}
                <a href="{% url 'salon' s.id %}" class="btn btn-service-badge">
                    {{ s.name }} ({{ s.city }})
                </a>
            {% empty %}
                <p class="text-muted">{% trans "There are no salons or clinics providing this service." %}</p>
            {% endfor %}
            </div>
        </div>
    </div>
{% if user.is_authenticated %}
<h2>{% trans "Leave a comment" %}</h2>
<form method="post" class="mb-2">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-custom">{% trans "Publish" %}</button>
</form>
{% endif %}
{% if service.reviews.all %}

<div class="content-section shadow-sm">
    {% for review in service.reviews.all %}
    <p>
        {% if review.reviewer.photo %}
        <img src="{{ review.reviewer.photo.url }}" class="rounded-circle" style="width: 30px">
        {% endif %}
        <strong>{{ review.reviewer }}</strong>, <em>{{ review.date_created }}</em></p>
    <p>{{ review.content }}</p>
    <hr>
    {% endfor %}
</div>
{% else %}
<p>{% trans "No comments" %}</p>
{% endif %}
{% endblock %}